## Webscraping Coinbase API

In [ ]:
import pandas as pd
import requests
import json

In [18]:
def fetch_daily_data(symbol):
    pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
    symbol = pair_split[0] + '-' + pair_split[1]
    url = f'https://api.pro.coinbase.com/products/{symbol}/candles?granularity=86400'
    response = requests.get(url)
    if response.status_code == 200:  # check to make sure the response from server is good
        data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
        data['date'] = pd.to_datetime(data['unix'], unit='s')  
        
        # multiply the BTC volume by closing price to approximate fiat volume
        data['vol_fiat'] = data['volume'] * data['close']      

        # if we failed to get any data, print error
        # else create file
        if data is None:
            print("Did not return any data from Coinbase for this symbol")
        else:
            #None
            df = pd.DataFrame(data.to_csv(f'Coinbase_{pair_split[0] + pair_split[1]}_dailydata.csv', index=False))

    else:
        print("Did not receieve OK response from Coinbase API")

In [19]:
fetch_daily_data("BTC/USD")

In [22]:
df = pd.read_csv('Coinbase_BTCUSD_dailydata.csv')
df

,unix,low,high,open,close,volume,date,vol_fiat
0,1644796800,41570.00,42247.70,42073.37,41881.50,2620.220833,2022-02-14,1.097388e+08
1,1644710400,41885.61,42781.96,42244.91,42074.99,6208.940937,2022-02-13,2.612411e+08
2,1644624000,41750.00,43050.00,42386.47,42244.97,8664.419567,2022-02-12,3.660281e+08
3,1644537600,42000.00,43962.13,43521.88,42386.47,19367.415200,2022-02-11,8.209164e+08
4,1644451200,43210.00,45855.00,44416.39,43527.71,20024.523269,2022-02-10,8.716216e+08
...,...,...,...,...,...,...,...,...
295,1619308800,47044.01,50591.38,50101.42,49121.00,14633.512065,2021-04-25,7.188127e+08
296,1619222400,48726.87,51260.61,51187.75,50089.15,11839.143559,2021-04-24,5.930126e+08
297,1619136000,47464.65,52130.58,51695.98,51187.27,38794.858184,2021-04-23,1.985803e+09
298,1619049600,50400.00,55469.98,53795.62,51701.59,30427.891539,2021-04-22,1.573170e+09
299,1618963200,53620.91,56810.56,56477.67,53800.86,15584.083983,2021-04-21,8.384371e+08